@model IEnumerable<MvcMovie.Models.DaiLy>

<h2>Danh sách Đại Lý</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã Đại Lý</th>
            <th>Tên Đại Lý</th>
            <th>Địa Chỉ</th>
            <th>Người Đại Diện</th>
            <th>Điện Thoại</th>
            <th>Mã Hệ Thống PP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDaiLy</td>
                <td>@item.TenDaiLy</td>
                <td>@item.DiaChi</td>
                <td>@item.NguoiDaiDien</td>
                <td>@item.DienThoai</td>
                <td>@item.MaHTPP</td>
            </tr>
        }
    </tbody>
</table>
